html, body { 
	height: 100%; 
}
body, h1, h2, h3, h4, p { 
	border: 0px none; 
	margin: 0px; 
	padding: 0px; 
}
body { 
	font-family: helvetica,arial,sans-serif; 
	background-color: rgb(68, 68, 68); 
	background-image: radial-gradient(circle at 28.5% 50% , rgb(32, 178, 170) 0px, rgb(68, 68, 68) 100px); 
	background-size: 100% 100%; perspective: 500px; 
}
a { 
	color: rgb(187, 187, 187); 
}
#text { 
	position: absolute; 
	width: 600px; 
	height: 120px; 
	left: 50%; 
	top: 50%; 
	margin-left: -300px; 
	margin-top: -60px; 
	text-align: center; 
	text-transform: uppercase; 
	color: rgb(243, 243, 243); 
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); 
}
h1 { 
	font-size: 50px;
	 /* basic font seting */
  text-align: center;
  letter-spacing: 2px;
  font: underline: 2px; color: green;
  text-shadow: 0    0   2px #fefcc9,
               1px -1px 3px #feec85,
              -2px -2px 4px #ffae34,
               2px -4px 5px #ec760c,
              -2px -6px 6px #cd4606,
               0   -8px 7px #973716,
               1px -9px 8px #451b0e;   
  } 

h2 { 
	font-size: 100px; 
	position: absolute; 
	width: 600px; 
	height: 120px; 
	left: 10%; 
	top: 50%; 
	margin-left: -400px; 
	margin-top: -60px; 
	text-align: center; 
	text-transform: uppercase; 
	color: rgb(243, 243, 243); 
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); 
	letter-spacing: 2px;
	font: underline: 2px; color: purple;
	text-shadow: 0    0   2px #fefcc9,
	             1px -1px 3px #feec85,
	            -2px -2px 4px #00FFFF,
	             2px -4px 5px #ec760c,
	            -2px -6px 6px #cd4606,
	             0   -8px 7px #973716,
	             1px -9px 8px #451b0e;
}
h3 {
	font-size: 20px; 
	color: white;
  	text-align: center;
  	letter-spacing: 2px;
}
h4 {
	font-size: 20px; 
	color: white;
  	text-align: center;
  	letter-spacing: 2px;
  	font: underline: 2px; color: purple;
	text-shadow: 0    0   2px #fefcc9,
	             1px -1px 3px #feec85,
	            -2px -2px 4px #ffae34,
	             2px -4px 5px #ec760c,
	            -2px -6px 6px #cd4606,
	             0   -8px 7px #973716,
	             1px -9px 8px #451b0e;
}

p { 
	top: 0px; 
	width: 100%; 
	text-align: center; 
	padding: 10px 0px; 
	font-size: 12px; 
	color: rgb(170, 170, 170); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); }
