@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
 background:url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png') repeat;
  font-family: "Open Sans",  Impact;
}
:link { color: green; }
.area{
  top: 46%;
  left: 25%;
  margin-top: -35px;
  margin-left: -50px;
  position: absolute;
  text-align:center;
  font-size:6.5em;
  color: green;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .5s ease-out infinite;
  text-shadow:0px 0px 5px purple,
      0px 0px 7px red;
}

@keyframes blur{
  from{
      text-shadow:0    0   2px #fefcc9,
               1px -1px 3px #feec85,
              -2px -2px 4px #ffae34,
               2px -4px 5px #ec760c,
              -2px -6px 6px #cd4606,
               0   -8px 7px #973716,
               1px -9px 8px #451b0e,  
                1px -1px 3px #feec85,
              -2px -2px 4px #ffae34,
               2px -4px 5px #ec760c,
              -2px -6px 6px #cd4606,
               0   -8px 7px #973716,
               1px -9px 8px #451b0e;  
    }